@model CheckoutViewModel;

@section Scripts {
    <script>
        console.log(getCart());
        renderCart();


        const btnSubmitOrder = document.getElementById("submitOrder");

        btnSubmitOrder.addEventListener("click", function () {
            const cart = getCart();
            const total = cart.reduce((total, item) => total + item.quantity * item.price, 0);
            const fullnameInput = document.getElementById('fullnameInput');
            const phoneInput = document.getElementById('phoneInput');
            const emailInput = document.getElementById('emailInput');
            const addressInput = document.getElementById('addressInput');

            const order = {
                userId: "@Model.User.Id",
                orderDate: new Date(),
                phone: phoneInput.value,
                address: addressInput.value,
                totalAmount: total,
                orderItems: cart.map(value => ({ 
                    productId: value.productId, 
                    quantity: value.quantity,
                    totalAmount: value.quantity * value.price,
                    option: JSON.stringify(value.option ?? "")
                })),
            };
            console.log(order);
            // Send the order to the server
            fetch('/api/Order/createOrder', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(order)
            })
            .then(response => response.json())
            .then(data => {
                console.log('Success:', data);
                showNoti('success', 'Success', 'Create order success');
                    clearCart();
                window.location.href = '/Order';
            })
            .catch((error) => {
                console.log(error);
                    showNoti('error', 'Error', error.Message);

            });
        });


    </script>
}
@{
    ViewBag.Title = "Checkout";
}

<div class="container py-5">
    <h2 class="mb-4">Checkout</h2>

    <div class="row">
        <!-- Left: User Info -->
        <div class="col-md-6">
            <h4>Customer Information</h4>
            <div class="mb-3">
                <label class="form-label">Full Name:</label>
                <input id="fullnameInput" type="text" class="form-control" value="@Model.User.Name" readonly />
            </div>
            <div class="mb-3">
                <label class="form-label">Email:</label>
                <input id="emailInput" type="email" class="form-control" value="@Model.User.Email" readonly />
            </div>
            <div class="mb-3">
                <label class="form-label">Phone:</label>
                <input id="phoneInput" type="text" class="form-control" value="@Model.User.Phone" />
            </div>
            <div class="mb-3">
                <label class="form-label">Address:</label>
                <textarea id="addressInput" class="form-control" rows="3" >@Model.User.Address</textarea>
            </div>
        </div>

        <!-- Right: Cart Info -->
        <div class="col-md-6">
            <h4>Your Cart</h4>
            <ul id="cart-items">
            </ul>
            <p class="mt-2 d-flex align-items-center justify-content-between order-total">Total: $ <span id="total-price">1440</span></p>
            
            <button type="button" id="submitOrder" class="btn btn-gradient-blue-purple w-100 mt-3">Place Order</button>
            
        </div>
    </div>
</div>

<style>
    .info-name {
        font-size: 14px;
    }
</style>
