<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MechkeyShop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/shared.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/cart.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/layout.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MechkeyShop.styles.css" asp-append-version="true" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light box-shadow bg-white p-4">
            <div class="container d-flex align-items-center justify-content-between">
                <a class="header__logo text-gradient-blue-purple" asp-controller="Home" asp-action="Index">MechkeyShop</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-between" id="mainNavbar">
                    <!-- Navbar center -->
                    <ul class="header__list">
                        <li class="header__nav-item">
                            <a class="header__nav-link" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="header__nav-item">
                            <a class="header__nav-link" asp-controller="Product" asp-action="Index">Shop</a>
                        </li>
                        @await Component.InvokeAsync("CategoryDropdown")
                        <li class="header__nav-item">
                            <a class="header__nav-link" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="header__nav-item">
                            <a class="header__nav-link" asp-controller="Home" asp-action="Download">Download</a>
                        </li>

                        
                    </ul>

                    <!-- Authen right -->
                    <div class="d-flex gap-4">
                        <a class="btn position-relative" asp-controller="Cart" asp-action="Index">
                            <i class="fa-solid fa-cart-shopping"></i>
                            <span id="counting-cart" class="badge bg-danger position-absolute top-0 left-100">0</span>
                        </a>
                        @{
                            var username = Context.Request.Cookies["username"];
                            var isLoggedIn = !string.IsNullOrEmpty(Context.Request.Cookies["accessToken"]);

                            if (isLoggedIn)
                            {
                                <div class="d-flex gap-4 align-items-center">

                                <span>Hi, @username</span>
                                    <a class="btn" href="/Order">History Order</a>
                                <a class="btn btn-outline-danger btn-sm" href="/Auth/Logout">Logout</a>
                                </div>
                            }
                            else
                            {
                                <a type="button" class="btn btn-sm btn-gradient-blue-purple" asp-controller="Auth" asp-action="Login">Login</a>
                                <a class="btn btn-sm btn-outline" asp-controller="Auth" asp-action="Register">Register</a>
                            }
                        }
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="">
        <main role="main" class="min-vh-100">
            @RenderBody()


            <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
                <div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="toast-header success">
                        <strong class="me-auto">Notification</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                    <div class="toast-body">
                        Add to cart success
                    </div>
                </div>
            </div>
        </main>
    </div>

    <footer class="footer">
        <div class="container">
            <div class="row">

            <div class="col-md-3 logo-contact">
                <h4>MechKey Shop</h4>
                    <p><i class="fa-solid fa-map-pin me-2"></i> 11/2 Street 3, Binh Hung Hoa, Binh Tan</p>
                    <p><i class="fa-solid fa-phone me-2"></i> 0888115511</p>
                    <p><i class="fa-solid fa-envelope me-2"></i> sales@mokbstore.com</p>
                    <p><i class="fa-solid fa-copyright me-2"></i> Bản quyền <a href="#">MechKey Store</a> thuộc MechKey Store</p>
            </div>

            <div class="col-md-3">
                <h4>Hướng dẫn</h4>
                <ul>
                    <li><a href="#">Hướng dẫn mua hàng và thanh toán</a></li>
                    <li><a href="#">Hướng dẫn sử dụng</a></li>
                    <li><a href="#">Kiểm tra đơn hàng</a></li>
                </ul>
            </div>

            <div class="col-md-3">
                <h4>Chính sách</h4>
                <ul>
                    <li><a href="#">Chính sách Group Buy</a></li>
                    <li><a href="#">Chính sách bảo hành</a></li>
                </ul>
            </div>

            <div class="col-md-3">
                <h4>ĐĂNG KÝ NHẬN TIN</h4>
                <p>Bạn muốn nhận khuyến mãi đặc biệt? Đăng ký ngay.</p>
                <form class="subscribe-form">
                    <input type="email" placeholder="Địa chỉ Email" required />
                    <button type="submit" class="btn">Đăng ký</button>
                </form>
                <div class="social-icons">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fa-brands fa-discord"></i></a>
                </div>
            </div>
            </div>
        </div>

        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/cartService.js" asp-append-version="true"></script>

    @if (TempData["ToastHeader"] != null && TempData["Type"] != null && TempData["ToastMessage"] != null)
    {
        <script>
            showNoti("@TempData["Type"]", "@TempData["ToastHeader"]", "@TempData["ToastMessage"]");
        </script>
    }

    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
